.bouton_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-primary.button{
    font-size: var(--small-font-size);
    background-color: var(--first-color);
    border-color:  var(--first-color);
}

.btn.btn-primary.button:hover{
    background-color: var(--button-color);
    border-color: var(--button-color) ;
}

img{
    width: 30px;
}