
.container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f8f9fa; 
}
.card-img-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.card-img-overlay span {
  display: block;
  font-size: var(--h2-font-size);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--body-font);
}

.form-control{
  width: 300px !important;
  font-size: var(--small-font-size);
}

.form-check-label {
  float: left;
  font-size: var(--small-font-size);
}
.autre {
  margin-top: 20px;
}
p{
  font-size: 10px;
  margin: 10px !important;
}
.button_api{
  margin: 2px 0px 2px 0px;
}

.lien_inscription{
  margin: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
