/* nav.css */

.navigation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Plus élevé que le contenu */
}

.sidenav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; /* Ajustez la largeur selon vos besoins */
}

.content {
    padding: 20px;
    overflow-y: auto;
    margin-top: 0px;
}
