/* default css  */

/* importer des Google Fonts: Dancing Script et Montsessart */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* appliquer à toute la page */
* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

/* applique à l'élément racine => <html> */
:root {
/* variable pour stocker des valeur ou couleur */
 --header-height: 3.5rem;
 --first-color: hsl(28, 88%, 62%);
 --title-color: hsl(0, 21%, 5%);
 --text-color: hsl(0, 60%, 2%);
 --body-color: rgba(122, 106, 106, 0.075);
 --body-color-gradient: linear-gradient(135deg, #f06, #4a90e2);
 --button-color: #4a90e2;
 --body-font: "Montserrat", sans-serif;
 --second-font: "Dancing Script", cursive;
 --h1-font-size: 1.5rem;
 --h2-font-size: 1.2rem;
 --small-font-size: 0.8rem;
 --font-semi-bold: 600;
 --z-tooltip: 10;
 --z-fixed: 100;
 --card-body-color:rgba(122, 106, 106, 0.76);
 --card-link-color:rgba(247, 247, 253, 0.733);
 --card-body2-color:rgba(255, 255, 255, 0.74);

}

/* Ce sélecteur applique les styles au corps de la page HTML*/
body {
 background-color: var(--body-color);
 color: var(--text-color);
 font-family: var(--body-font);
} 

/* ul {
 list-style: none;
}

a {
 text-decoration: none;
} */